.headerContainer {
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  z-index: 999;
  justify-content: center;
}
.headerWrapper {
  width: 80%;
  display: flex;
  height: 100%;
}
.logoDivision {
  flex: 3;
  display: flex;
  align-items: center;
}
.navigationDivision {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navigationDivision a {
  font-weight: 500;
  text-decoration: none;
  color: var(--link);
  font-size: 1.5rem;
  background-color: none;
  transition: color 0.5s;
  z-index: 10;
}
.linkHoverEffect {
  height: 10px;
  width: 0px;
  margin-top: -13px;
  margin-left: -20px;
  z-index: 1;
  background: var(--link-hover-effect);
  transition: width 0.3s;
}
.navigationDivision a:hover + .linkHoverEffect {
  color: var(--link-hover);
  width: 60px;
}
.hamburguerButton {
  margin-top: 25px;
  margin-right: 50px;
  display: none;
  height: 40px;
  cursor: pointer;
}

.hamburguerButton div {
  width: 35px;
  height: 4px;
  margin-top: 8px;
  background: var(--logo);
  transition: margin-left 0.5s;
}

.hamburguerButton:hover div:last-child {
  margin-left: 10px;
}
.hamburguerButton:hover div:first-child {
  margin-left: 10px;
}

@media (max-width: 1350px) {
  .headerWrapper {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .navigationDivision {
    display: none;
  }
  .hamburguerButton {
    display: initial;
  }
}
